@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* TITLES */
.title-category {
    @apply border-double border-x-8 border-black w-1/3 block mx-auto text-center p-2 rounded-lg shadow-xl;
}

.title-category h2 {
    @apply text-3xl bg-gradient-to-r from-violet-500 to-indigo-800 bg-clip-text text-transparent font-extrabold italic font-Roboto;
}

/* CSS TABLE */
.table {
    @apply table-auto w-5/6 mx-auto bg-white rounded-3xl shadow-lg text-center;
}

.table thead th {
    @apply text-lg font-bold py-3 bg-black text-white leading-9 tracking-widest;
}

.table tbody td {
    @apply leading-10 rounded-3xl;
}

.container-btn-volver {
    @apply  w-5/6 mx-auto;
}

.container-btn-volver button {
    @apply w-36 rounded-3xl border-2 border-lime-600 text-lime-700 hover:duration-200 hover:ease-in hover:ring-4 hover:text-blue-500;
}

.table .btn-primary {
    @apply px-6 py-2 font-semibold text-blue-500 border-2 border-blue-500 rounded-lg bg-white transition-all duration-700 ease-in-out
    hover:bg-gradient-to-r hover:from-blue-500 hover:to-purple-500 hover:text-white;
}

.table .btn-warning {
    @apply px-6 py-2 font-semibold text-yellow-500 border-2 border-yellow-500 rounded-lg bg-white transition-all duration-700 ease-in-out
    hover:bg-gradient-to-r hover:from-yellow-500 hover:to-yellow-600 hover:text-white;
}

.table .btn-danger {
    @apply px-5 py-2 font-semibold text-red-500 border-2 border-red-500 rounded-lg bg-white transition-all duration-700 ease-in-out
    hover:bg-gradient-to-r hover:from-red-500 hover:to-red-800 hover:text-white;
}

.table .btn-info {
    @apply px-5 py-2 font-semibold text-teal-400 border-2 border-teal-400 rounded-lg bg-white transition-all duration-700 ease-in-out
    hover:bg-gradient-to-r hover:from-teal-400 hover:to-teal-600 hover:text-white;
}


/* CSS PAGINATE */
.paginate {
    @apply flex justify-evenly items-center tracking-wide ;
}

.paginate div {
    @apply flex-col leading-5;
}

